body { background: #ebc68a; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 36px; display: flex; }
.block-logger-0 { color: #2ee001; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #9e9a9b; font-size: 18px; margin-bottom: 5px; }
.block-invoice-2 { color: #78c96a; font-size: 13px; margin-bottom: 5px; }
.block-product-3 { color: #eb6e9a; font-size: 18px; margin-bottom: 5px; }
.block-order-4 { color: #fb0a1d; font-size: 20px; margin-bottom: 5px; }